*{
  margin:0px;
  padding:0px;
  /* box-sizing:border-box; */
}
.navbar {
  background-color: #333;
  color: white;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  /* display: flex;
  justify-content: space-evenly; */
}

.navbar .cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 0 1em;
}

.navbar .logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 1em;
}

.navbar .nav-links li a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 3px;
}

.navbar .nav-links li a:hover {
  background-color: #4CAF50;
}

/* Mobile Menu Icon */
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon span {
  background-color: white;
  margin: 4px;
  width: 25px;
  height: 3px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #333;
      z-index: 1000;
  }

  .navbar .nav-links.active {
      display: flex;
  }

  .menu-icon {
      display: flex;
  }
}
.nav-links{
  margin-bottom:10px;
}
iframe{
  width: 80%;
  height:500px;
}
h2{
  margin-left:800px;
  margin-right:20px;
 }
 h1{
  display: flex;
  justify-content: center;
 }
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  /* padding: 20px; */
}

form {
  max-width:850px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

textarea {
  resize: vertical;
  height: 90px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #218838;
}

a{
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration:none;
}
/*Contact us page*/

